* {
  box-sizing: border-box;
}
h1 {
	text-align: center;
	font-family: 'Sunflower', sans-serif;
	font-size: 25px;
}

body {
	font-family: 'Slabo 27px', serif;
	font-size: 12px;
}

input[type="text"] {
	padding: 5px;
	width: 300px;
	text-align: top;
}

#bookmark-description {
	height: 100px;
	width: 300px;
}

button {
	padding: 5px; 
}

button:hover {
  cursor: pointer;
}

form > div {
	padding: 5px;
}
.sidebar {
  display: inline-block;
  width:40vw;
  height:80vh;
  box-align: top;
	padding: 40px 20px;
	border-right: 2px;
}

.bookmarks-section {
  display: inline-block;
  box-align: auto;
}

.js-bookmarks-add-form {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	position: fixed;
	top: 80px;
	left: 100px;
}

#bookmark-list {
	position: absolute;
	top: 80px;
	margin-left: auto;
	margin-right: auto;
}

li {
	padding: 10px;
	font-size: 15px;
}